/* Variables */
:root {
	--font-cursive: 'Alex Brush', cursive;
	--font-main: 'Open Sans', sans-serif;
	--color-main-dark: #030a4b;
	--color-text: #f5f5f8;
	--color-text-dark: #2c2c36;
	--color-text-transparent: rgba(255, 255, 255, 0.6);
	--gradient-main: linear-gradient(
		to right bottom,
		rgba(146, 156, 205, .75),
		rgba(3, 10, 75, .9)
	);
	--gradient-opaque: linear-gradient(
		to right bottom,
		rgba(146, 156, 205, .95),
		rgba(3, 10, 75, .95)
	);
	--smooth-transition: all 0.3s ease;
	--shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	--hover-scale: scale(1.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
	background-color: var(--color-text);
}

::selection {
	background-color: var(--color-main-dark-dark);
	color: var(--color-text);
}

:link,
:visited {
	text-decoration: none;
}

:active {
	outline: none;
}

.header {
	height: 85vh;
	background-image: var(--gradient-main), url(./assets/images/4thsthero-lg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.navigation {
	height: 8rem;
	background-color: var(--color-main-dark);
	color: var(--color-text);
	padding: 0 2rem 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__logo:link,
.navigation__logo:visited {
	font-size: 3rem;
	color: var(--color-text);
	font-weight: 700;
	font-family: var(--font-cursive);
	transition: var(--smooth-transition);
}

.navigation__logo:hover,
.navigation__logo:active {
	transform: var(--hover-scale);
}

.navigation__item {
	text-transform: uppercase;
	transition: var(--smooth-transition);
}

.navigation__item:link,
.navigation__item:visited {
	color: var(--color-text);
}

.navigation__item:hover,
.navigation__item:active {
	transform: var(--hover-scale);
}

.navigation__links {
	display: none;
}

.navigation__bars {
    transition: var(--smooth-transition);
}

.navigation__bars:hover {
    transform: var(--hover-scale);
}

.navigation__times {
	position: absolute;
	padding: 2.5rem;
	right: 0;
	top: 0;
    transition: var(--smooth-transition);
}

.navigation__times:hover {
    transform: var(--hover-scale);
}

#navigation__dropdown {
	background-image: var(--gradient-opaque);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	display: none;
}

.navigation__link-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	flex-direction: column;
}

.navigation__link:link,
.navigation__link:visited {
	color: var(--color-text);
	font-size: 2.4rem;
	padding: 2rem;
	transition: var(--smooth-transition);
}

.navigation__link:hover,
.navigation__link:active {
	transform: var(--hover-scale);
}

.header__text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: var(--color-text);
}

.heading-primary--main {
	display: block;
	font-family: var(--font-cursive);
	font-size: 5rem;
	font-weight: 600;
	white-space: nowrap;
}

.heading-primary--sub {
	margin-top: 3.5rem;
	display: block;
	font-size: 2rem;
	font-family: var(--font-main);
	font-weight: 400;
	line-height: 3rem;
	margin-bottom: 3.5rem;
	font-style: italic;
}
.btn {
	transition: var(--smooth-transition);
}

.btn:link,
.btn:visited {
	padding: 1.25rem 3.5rem;
	display: inline-block;
	border-radius: 1rem;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: var(--shadow);
}

.btn:active {
	transform: translateY(1px);
}

.btn--white {
	background-color: var(--color-text-transparent);
	color: var(--color-main-dark);
	font-size: 1.75rem;
	font-family: var(--font-main);
}
@media only screen and (min-width: 60em) {
	
	.header__text-box {
		top: 45%;
	}

	.heading-primary--main {
		font-size: 7rem;
	}

	.heading-primary--sub {
		margin-top: 1.25rem;
		font-size: 2.2rem;
	}
}
@media only screen and (min-width: 80em) {
	.navigation__bars {
		display: none;
	}

	.navigation__links {
		width: 25%;
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		font-family: var(--font-main);
	}
}
@media only screen and (min-width: 105em) {
	.navigation__logo:link {
		font-size: 4rem;
	}

	.navigation__links {
		font-size: 2rem;
	}

	.heading-primary--main {
		font-size: 9rem;
	}

	.heading-primary--sub {
		margin-top: 2rem;
		font-size: 2.7rem;
		letter-spacing: 0.3rem;
	}
}

.about__content {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
	max-width: 90rem;
	margin: 0 auto;
}

.heading-secondary {
    font-family: var(--font-cursive);
    color: var(--color-main-dark);
    margin-top: 6rem;
    font-size: 5rem;
    transition: var(--smooth-transition);
}

.heading-secondary:hover {
    transform: var(--hover-scale);
}

.about__content-text {
    font-family: var(--font-main);
	color: var(--color-text-dark);
    margin-top: 4rem;
    padding: 0 1rem;
    font-size: 1.8rem;
    margin-bottom: 6rem;
    line-height: 3rem;
}

.about__bio {
    width: 95%;
	max-width: 90rem;
    padding: 1.5rem;
    display: flex;
    margin: 1.5rem 0;
    background-color: rgba(153, 153, 153, 0.3);
}

.about__text {
    font-family: var(--font-main);
    font-size: 1.6rem;
	color: var(--color-text-dark);
    align-self: center;
    line-height: 1.9rem;
}

.img {
    border: 8px solid var(--color-main-dark);
	height: 33%;
    width: 33%;
    border-radius: 50%;
    float: left;
    margin: 1rem;
    transition: var(--smooth-transition);
}

.events {
	background-image: var(--gradient-opaque);
	margin-top: 6rem;
	padding: 6rem 0;
	
	/* margin: 1.5rem; */
}
.event__heading {
	width: 95vw;
	list-style: none;
	font-size: 5rem;
	font-weight: bold;
	font-family: var(--font-cursive);
	color: var(--color-text);
	margin: 1.5rem;
	padding-bottom: .5rem;
	border-bottom: .5rem solid var(--color-text);
	display: grid;
	grid-template-columns: 2fr 2fr;
	max-width: 90rem;
	margin: 0 auto;
}

.event {
	width: 95vw;
	font-size: 1.75rem;
	font-family: var(--font-main);
	margin: 1.5rem;
	padding-bottom: 1.5rem;
	display: grid;
	grid-template-columns: 2fr 2fr;
	color: var(--color-text);
	max-width: 90rem;
	margin: 0 auto;
}

.event:not(:last-child) {
	border-bottom: 1px solid var(--color-text);
}

.gallery {
	overflow: hidden;
	margin: 6rem auto;
	max-width: 130rem;
}

video {
	display: block;
	margin: 2rem auto;
}

@media only screen and (min-width: 65em) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
.section__song-list {
	background-image: var(--gradient-opaque);
	color: var(--color-text);
	padding: 6rem 1.5rem;
	font-size: 1.75rem;
	font-family: var(--font-main);	
	text-align: center;
}
.heading-third {
    font-family: var(--font-cursive);
    color: var(--color-text);
	padding-bottom: 3rem;
    font-size: 5rem;
    transition: var(--smooth-transition);
}

.song {
	list-style: none;
	padding: .5rem;
}

.footer {
	height: 25rem;
	padding: 6rem;
	text-align: center;
}

.heading__four {
	font-family: var(--font-cursive);
    color: var(--color-main-dark);
	padding-bottom: 3rem;
    font-size: 5rem;
}
.contact {
	list-style: none;
	color: var(--color-main-dark);
	font-size: 2rem;
	line-height: 3rem;
}

.link {
	text-decoration: none;
	color: var(--color-main-dark);
	transition: var(--smooth-transition);
}

.link:hover {
	text-decoration: underline;
}